.primary-color {
    color: var(--primary-color);
}
.secondary-color {
    color: var(--secondary-color);
}
.tertiary-color {
    color: var(--tertiary-color);
}
.quaternary-color {
    color: var(--quaternary-color);
}
.leaf-lightest-color {
    color: var(--leaf-lightest-color);
}
.leaf-light-color {
    color: var(--leaf-light-color);
}
.leaf-dim-color {
    color: var(--leaf-dim-color);
}
.leaf-dark-color {
    color: var(--leaf-dark-color);
}
.leaf-darker-color {
    color: var(--leaf-darker-color);
}
.leaf-darkest-color {
    color: var(--leaf-darkest-color);
}
.leaf-d-color {
    color: var(--leaf-d-color);
}
.leaf-dr-color {
    color: var(--leaf-dr-color);
}
.leaf-lg-color {
    color: var(--leaf-lg-color);
}
.leaf-l-color {
    color: var(--leaf-l-color);
}
.green-light-color {
    color: var(--green-light-color);
}
.green-dark-color {
    color: var(--green-dark-color);
}
.green-darker-color {
    color: var(--green-darker-color);
}
.green-darkest-color {
    color: var(--green-darkest-color);
}
.cyan-light-color {
    color: var(--cyan-light-color);
}
.cyan-dark-color {
    color: var(--cyan-dark-color);
}
.yellow-light-color {
    color: var(--yellow-light-color);
}
.yellow-dark-color {
    color: var(--yellow-dark-color);
}
.primary-font {
    font-family: var(--primary-font);
}
.secondary-font {
    font-family: var(--secondary-font);
}
.bg-primary-color {
    background-color: var(--primary-color);
}
.bg-secondary-color {
    background-color: var(--secondary-color);
}
.bg-tertiary-color {
    background-color: var(--tertiary-color);
}
.bg-quaternary-color {
    background-color: var(--quaternary-color);
}
.bg-leaf-lightest-color {
    background-color: var(--leaf-lightest-color);
}
.bg-leaf-light-color {
    background-color: var(--leaf-light-color);
}
.bg-leaf-dim-color {
    background-color: var(--leaf-dim-color);
}
.bg-leaf-dark-color {
    background-color: var(--leaf-dark-color);
}
.bg-leaf-darker-color {
    background-color: var(--leaf-darker-color);
}
.bg-leaf-darkest-color {
    background-color: var(--leaf-darkest-color);
}
.bg-leaf-d-color {
    background-color: var(--leaf-d-color);
}
.bg-leaf-dr-color {
    background-color: var(--leaf-dr-color);
}
.bg-leaf-lg-color {
    background-color: var(--leaf-lg-color);
}
.bg-leaf-l-color {
    background-color: var(--leaf-l-color);
}
.bg-green-light-color {
    background-color: var(--green-light-color);
}
.bg-green-dark-color {
    background-color: var(--green-dark-color);
}
.bg-green-darker-color {
    background-color: var(--green-darker-color);
}
.bg-green-darkest-color {
    background-color: var(--green-darkest-color);
}
.bg-cyan-light-color {
    background-color: var(--cyan-light-color);
}
.bg-cyan-dark-color {
    background-color: var(--cyan-dark-color);
}
.bg-yellow-light-color {
    background-color: var(--yellow-light-color);
}
.bg-yellow-dark-color {
    background-color: var(--yellow-dark-color);
}

