@media screen and (width>=1024px) {
   .navlist .navlink {
      margin: 0.5rem;
      padding: 5px 10px;
      transition: all 0.3s ease;
   }
   
   .productNavbar .productNavlist {
      margin:0 2.5rem;
      padding: 5px 10px;
      transition: all 0.3s ease;
   }

   .productNavbar .productNavlist:hover{
      color: black !important;
      background-color: var(--leaf-lightest-color);
      border-radius: 5px;
   }
}