@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import "./assests/css/sm-screen.css";
@import "./assests/css/md-screen.css";
@import "./assests/css/custom.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --primary-color: #404258;
    --secondary-color: #474E68;
    --tertiary-color: #50577A;
    --quaternary-color: #6B728E;
    --leaf-lightest-color: #E8F9F0;
    --leaf-light-color: #DEF5E5;
    --leaf-dim-color: #BCEAD5;
    --leaf-dark-color: #9ED5C5;
    --leaf-darker-color: #8EC3B0;
    --leaf-darkest-color: #7DB19B;
    --leaf-d-color: #8EC3B0;
    --leaf-dr-color: #62B6B7;
    --leaf-lg-color: #97DECE;
    --leaf-l-color: #CBEDD5;
    --green-light-color: #A5C9CA;
    --green-dark-color: #A5C9CA;
    --green-darker-color: #395B64;
    --green-darkest-color: #2C3333;
    --cyan-light-color: #A5F1E9;
    --cyan-dark-color: #7FE9DE;
    --yellow-light-color: #FFF6BF;
    --yellow-dark-color: #FFEBAD;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Titillium Web', sans-serif;
}

.scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

.titillium {
    font-family: var(--secondary-font);
}

.active {
    color: white;
    background-color: var(--leaf-darkest-color);
    border-radius: 5px;
    padding: 5px;
}

.effect {
    transition: all 0.3s ease;
}

.cards>* {
    margin: 1rem;
}